name: "Chromatic"

on: workflow_call

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-chromatic
  cancel-in-progress: true

permissions:
  actions: write
  contents: read

jobs:
  chromatic:
    name: Run Chromatic
    runs-on: ubuntu-latest
    steps:
        - name: Checkout Code
          uses: actions/checkout@v4
        - name: Setup PNPM
          uses: pnpm/action-setup@v4
        - name: Setup Node
          uses: actions/setup-node@v3
          with:
            node-version-file: '.nvmrc'
            cache: "pnpm"
        - name: Install dependencies
          run: pnpm install --hoist --frozen-lockfile
        - name: Run Chromatic
          uses: chromaui/action@latest
          with:
            projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
            exitZeroOnChanges: true
            exitOnceUploaded: true
            onlyChanged: true
            skip: "@(renovate/**)"


